* {
box-sizing: border-box;
}


body {
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(102, 206, 255);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    background-color: red;
}

.row {
    display: flex;
    margin-left: -15;
    margin-right: -15;
}

[class*='col-']{
    padding-right: 15px;
    padding-right: 15px
}

.col-1 {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}

.col-2 {
    flex: 0 0 16.66666%;
    max-width: 16.6666%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

/* .col-7 {
    flex: 0 0 75%;
    max-width: 75%;
} */

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; 
} 

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.header {
    background-color: rgba(255, 255, 255,.75);
    height: 100px;
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 7px;
}

.product {
position: flex;
}

.product-image {
    position: relative;
}

.zoom {
    position: absolute;
}

.like {
    position: absolute;
}